@using InternetBanking.Core.Application.Dtos.Account
@using Microsoft.AspNetCore.Http;
@using InternetBanking.Core.Application.Helpers;
@using InternetBanking.Core.Application.Enums;
@using InternetBanking.Core.Application.ViewModels.User;
@inject IHttpContextAccessor httpContextAccessor;

@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternetBanking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InternetBanking.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 p-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold fs-3" style="color: #374151; margin-left: 5rem" asp-area="" asp-controller="" asp-action="">Internet Banking</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" style="color: #374151; margin-right: 5rem">
                    @if (User != null)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (User.Roles.FirstOrDefault() == Roles.Admin.ToString())
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Mantenimiento de Usuarios</a>
                                </li>
                            }
                            else if (User.Roles.FirstOrDefault() == Roles.Client.ToString())
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Pagos
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Payment" asp-action="ExpressPayment">Expreso</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Payment" asp-action="CreditCardPayment">Tarjeta de crédito</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Payment" asp-action="LoanPayment">Préstamo</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Payment" asp-action="BeneficiaryPayment">Beneficiarios</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Beneficiary" asp-action="Index">Beneficiario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Payment" asp-action="CashAdvances">Avance de efectivo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Payment" asp-action="AccountTransfer">Transferencia</a>
                                </li>
                            }
                        </ul>
                        <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                            <span class="me-2 p-1">Bienvenido, @User.UserName</span>
                            <a class="btn btn-danger btn-sm" asp-controller="Auth" asp-action="LogOut">
                                Cerrar Sesion
                            </a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top card-footer bg-white text-muted fixed-bottom">
        <div class="container">
            &copy; 2024 - InternetBanking - Made by <a href="https://github.com/AleGxrcia" target="_blank">AleGxrcia</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
